body { background-color: #FDEBD0; }

#banner { width: 100%; }

h1 {
    color: black;
    text-align: center;
    background-color: #F5CBA7;
}

p {
    text-align: center;
    background-color: #FAD7A0;
}

#second{
    font-size: 20px;
}

em strong { color: #E74C3C; }