/*CABECERA*/
header{
    background-color: #CCCCCC;
    padding: 20px 0;
}

.box{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline-block;
    margin-left: 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

/*CUERPO*/
.banner { width: 100%; }

main{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.titlemain{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.imagenDiferenciales{
    width: 60%;
}

/*#second{
    font-size: 20px;
}

em strong { color: #E74C3C; }

.diferenciales{
    background-color: white;
    padding: 30px;
}

.diferenciales ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.items{
    font-style: italic;
}*/

/*PIE DE PÁGINA*/
footer{
    text-align: center;
    background: url(../Images/productos/bg.jpg);
    padding: 40px;
}

.copyright{
    color: white;
    font-size: 13px;
}