.logo{
    background-color: #5D6D7E;
    padding-left: 20px;
}

nav li{
    display: inline-block;
    margin-left: 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
